// Orange
$color-1: #FF6526;
$color-2: #FF530D;
$color-3: #B23705;

// Bleen
$color-4: #0DFFD9;
$color-5: #00B297;
$color-6: #0d6654;

.img-responsive, .thumbnail > img, .thumbnail a > img {
    outline: 1px solid #dedede;
}

.navbar-default {
    background-color: $color-1;

    .navbar-brand {
        padding: 0;
        @media (max-width: 768px) {
            padding: 10px;
        }

        img {
            display: inline-block;
            height: 100%;
            margin-right: 20px;
        }

        .fa-paperclip {
            margin-right: 10px;
        }

        small {
            color: $color-3;
            font-size: 0.6em;
        }

        &:hover, &:focus {
            color: $color-3;
        }
    }

    .navbar-toggle {
        border-color: $color-3;

        &:hover, &:focus {
            background-color: darken($color-2, 10%);
            border-color: darken($color-2, 10%);
        }
    }

    .navbar-nav {
        > .active > a, > .active a:hover, > .active > a:focus {
            background-color: $color-3;
        }

        > li > a:hover, > li > a:focus {
            color: #fff;
            opacity: 0.8;
        }
    }
}

header {
    .container {
        padding-top: 130px;

        @media (max-width: 768px) {
            padding-top: 80px;
        }
    }

    .thumbnail {
        padding: 5px;
        outline: 0;
        border: 2px solid #dedede;
        margin: 0;
        border-radius: 0;

        @media (max-width: 768px) {
            padding: 7px;
            border-width: 1px;
        }
    }

    .intro-text {
        display: none;
        margin-top: 20px;

        &.active {
            display: block;
        }

        .name {
            font-size: 3em;
            line-height: 1.1em;

            @media (max-width: 768px) {
                font-size: 2em;
            }
        }

        .skills {
            color: $color-6;
        }
    }

    h3 {
        font-size: 1.4em;
        color: #fff;

        @media (max-width: 768px) {
            font-size: 1.1em;
        }
    }

    p {
        color: $color-6;
        font-size: 1.1em;
        line-height: 1.1em;
    }

    .fa-chevron-left, .fa-chevron-right {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }

    .fa-chevron-left {
        left: 50%;
        margin-left: -15px;
    }

    .fa-chevron-right {
        right: 50%;
        margin-right: -15px;
    }

    .secundary-featured {
        margin-top: 40px;

        .thumbnail {
            padding: 0;
            border: 0;

            img {
                outline: 1px solid #dedede;
            }
        }
    }
}

section {
    h2 {
        font-size: 3em;

        @media (max-width: 768px) {
            font-size: 2.2em;
        }
    }
}

.product-modal, .portfolio-modal {
    .modal-content {
        h2 {
            font-size: 3em;

            @media (max-width: 768px) {
                font-size: 1.8em;
            }
        }
    }
}

.star-primary::after {
    content: "\f0c6" !important;
}

#about {
    background-color: $color-5;

    .star-light {
        &:after {
            background-color: $color-5;
            content: "\f007";
        }
    }
}

#map-of-clipel {
    @media (max-width: 768px) {
        height: 200px;
    }
}

#contact {
    select#soflow {
       -webkit-appearance: button;
       -webkit-border-radius: 2px;
       -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
       -webkit-padding-end: 20px;
       -webkit-padding-start: 2px;
       -webkit-user-select: none;
       content: "\f078";
       background-color: #fff;
       border: 1px solid #eee;
       color: #2c3e50;
       font-size: inherit;
       margin: 20px 0 12.5px;
       overflow: hidden;
       padding: 5px 10px;
       text-overflow: ellipsis;
       white-space: nowrap;
       width: 300px;

       &:focus {
           outline: 0;
       }

       @media (max-width: 768px) {
           width: 100%;
       }
    }

    .soflow-arrow {
        margin-left: -30px;

        @media (max-width: 768px) {
            margin-left: -30px;
            position: absolute;
            top: 50%;
            right: 30px;
            margin-top: -7.5px;
        }
    }
}

#contactForm {
    margin-top: 20px;
}
