<!DOCTYPE html>
<html lang="bt-br">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ title }}">
    <meta name="author" content="{{ title }}">

    <title>{{ title }}</title>

    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{% static 'styles/css/bootstrap.min.css' %}" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/css/freelancer.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles/css/base.css' %}" charset="utf-8">

    <!-- Custom Fonts -->

    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    {% include "elements/navbar.html" %}

    <!-- Header -->
    {% include "elements/header.html" %}

    <!-- Papelaria Section -->
    {% include "elements/papelaria-section.html" %}

    <!-- Products Section -->
    {% include "elements/product-section.html" %}

    <!-- Portfolio Grid Section -->
    {% include "elements/portfolio-section.html" %}

    <!-- Location Section -->
    {% include "elements/location.html" %}

    <!-- Contact Section -->
    {% include "elements/contact.html" %}

    <!-- Footer -->
    {% include "elements/footer.html" %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    {% include "elements/scroll-top.html" %}

    <!-- Papelaria Modals -->
    {% include "elements/papelaria-modals.html" %}

    <!-- Portfolio Modals -->
    {% include "elements/portfolio-modals.html" %}

    <!-- Product Modals -->
    {% include "elements/product-modals.html" %}

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/freelancer.js' %}"></script>
</body>
</html>
