@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-size: 16px; }

.navbar {
  background-color: #ffffff;
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  padding: 15px 0px;
  border-bottom: 1px solid #e7e7e7;
  font-family: Montserrat, Arial, sans-serif; }
  .navbar .navbar-brand {
    height: 100px;
    padding: 0; }
  .navbar .navbar-nav {
    float: right; }

.link-menu {
  padding: 2px 2px;
  font-size: 17px;
  font-weight: 400;
  display: block;
  text-transform: uppercase; }
