{% load staticfiles %}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contato</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>Você pode entrar em contato conosco para solicitar algum serviço de papelaria ou nossos presentes.</p>
                <p>Para solicitar um serviço de papelaria com algum arquivo anexado, envie para nosso e-mail: <a href="mailto:contato@clipelvarejo.com.br">contato@clipelvarejo.com.br</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Seu nome</label>
                            <input type="text" class="form-control" placeholder="Seu nome" id="name" required data-validation-required-message="Por favor, digite seu nome.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Endereço de e-mail</label>
                            <input type="email" class="form-control" placeholder="Endereço de e-mail" id="email" required data-validation-required-message="Por favor, digite seu e-mail.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Telefone para contato</label>
                            <input type="tel" class="form-control" placeholder="Telefone para contato" id="phone" required data-validation-required-message="Por favor, digite um número de telefone.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <select id="soflow">
                                <option selected value="contato">Contato</option>
                                <option value="orcamento">Orçamento/Pedido</option>
                            </select>
                            <i class="fa fa-chevron-down soflow-arrow"></i>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Como podemos te ajudar?</label>
                            <textarea rows="5" class="form-control" placeholder="Como podemos te ajudar?" id="message" required data-validation-required-message="Por favor, diga como podemos te ajudar."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
