{% load staticfiles %}
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Localização</h3>
                    <p>Rua General Castrioto, 46<br>Niterói, Rio de Janeiro</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Facebook</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Telefones</h3>
                    <p>21 2222-2222</p>
                    <p>21 99999-9999</p>
                    <p>21 88888-8888</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Clipel Varejo 2015
                </div>
            </div>
        </div>
    </div>
</footer>
