{% load staticfiles %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive thumbnail" src="{{ destaque_principal.imagem_full.url }}" alt="{{ destaque_principal.titulo }}">
                <div class="intro-text">
                    <span class="name">{{ destaque_principal.titulo }}</span>
                    <span class="skills">{{ destaque_principal.subtitulo }}</span>
                </div>
            </div>
        </div>

        <div class="row secundary-featured">
            <div class="col-lg-5 col-xs-6 col-lg-offset-1 text-center">
                <div class="thumbnail">
                    <img src="{{ destaque_secundario_um.imagem_full.url }}" alt="{{ destaque_secundario_um.titulo }}">
                </div>
                <h3>{{ destaque_secundario_um.titulo }}</h3>
                <p>{{ destaque_secundario_um.subtitulo }}</p>
            </div>
            <div class="col-lg-5 col-xs-6 text-center">
                <div class="thumbnail">
                    <img src="{{ destaque_secundario_dois.imagem_full.url }}" alt="{{ destaque_secundario_dois.titulo }}">
                </div>
                <h3>{{ destaque_secundario_dois.titulo }}</h3>
                <p>{{ destaque_secundario_dois.subtitulo }}</p>
            </div>
        </div>
    </div>
</header>
