{% load staticfiles %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="main-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for destaque_principal in destaques_principais %}
                            <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                <img class="img-responsive thumbnail" src="{{ destaque_principal.imagem_full.url }}" alt="{{ destaque_principal.titulo }}">
                            </div>
                        {% endfor %}

                        <!-- Controls -->
                        <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    {% for destaque_principal in destaques_principais %}
                        <div class="intro-text {% if forloop.counter == 1 %}active{% endif %}" data-index="{{ forloop.counter0 }}">
                            <span class="name">{{ destaque_principal.titulo }}</span>
                            <span class="skills">{{ destaque_principal.subtitulo }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row secundary-featured">
            <div class="col-lg-5 col-xs-6 col-lg-offset-1 text-center">
                <div class="thumbnail">
                    <img src="{{ destaque_secundario_um.imagem_full.url }}" alt="{{ destaque_secundario_um.titulo }}">
                </div>
                <h3>{{ destaque_secundario_um.titulo }}</h3>
                <p>{{ destaque_secundario_um.subtitulo }}</p>
            </div>
            <div class="col-lg-5 col-xs-6 text-center">
                <div class="thumbnail">
                    <img src="{{ destaque_secundario_dois.imagem_full.url }}" alt="{{ destaque_secundario_dois.titulo }}">
                </div>
                <h3>{{ destaque_secundario_dois.titulo }}</h3>
                <p>{{ destaque_secundario_dois.subtitulo }}</p>
            </div>
        </div>
    </div>
</header>
