{% load staticfiles %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive thumbnail" src="{% static 'img/volta-as-aulas.jpg' %}" alt="Volta as aulas!">
                <div class="intro-text">
                    <span class="name">Volta as aulas!</span>
                    <span class="skills">Aqui na Clipel Varejo, você encontrará descontos de até 20% em listas escolares! Venha nos visitar!</span>
                </div>
            </div>
        </div>

        <div class="row secundary-featured">
            <div class="col-lg-5 col-xs-6 col-lg-offset-1 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/presentes-de-natal.jpg' %}" alt="Natal cheio de presentes! Ho ho ho!">
                </div>
                <h3>Natal cheio de presentes! Ho ho ho!</h3>
                <p>Nessa época maravilhosa encontre presentes para a família toda! Venha conhecer!</p>
            </div>
            <div class="col-lg-5 col-xs-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/facebook-whatsapp.jpg' %}" alt="Aceitamos pedidos pelo whatsapp e pelo facebook também!">
                </div>
                <h3>Aceitamos pedidos pelo whatsapp e pelo facebook também!</h3>
                <p>Entre em contato conosco pelo número 99999-8888!</p>
            </div>
        </div>
    </div>
</header>
