{% load staticfiles %}
<section id="papelarias">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Papelaria</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for papelaria in papelarias %}
                <div class="col-sm-3 col-xs-4 papelaria-item">
                    <a href="#papelaria-modal-{{ papelaria.id }}" class="papelaria-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <h4 class="visible-lg-block"> {{ papelaria.titulo }}</h4>
                            </div>
                        </div>
                        <img src=" {{ papelaria.imagem_full.url }}" class="img-responsive" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
