{% load staticfiles %}
{% for servico in servicos %}
<div class="portfolio-modal modal fade" id="portfolio-modal-{{ servico.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ servico.titulo }}</h2>
                        <hr class="star-primary">
                        <img src="{{ servico.imagem_full.url }}" class="img-responsive img-centered" alt="">
                        <p>{{ servico.descricao }}</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        <button type="button" class="btn btn-default budget" data-dismiss="modal"><i class="fa fa-envelope-o"></i> Solicitar orçamento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

