{% load staticfiles %}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Serviços</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6 portfolio-item">
                <a href="#portfolio-modal-1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{% static 'img/portfolio/cabin.png' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 portfolio-item">
                <a href="#portfolio-modal-2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{% static 'img/portfolio/cake.png' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 portfolio-item">
                <a href="#portfolio-modal-3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{% static 'img/portfolio/circus.png' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 portfolio-item">
                <a href="#portfolio-modal-4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{% static 'img/portfolio/game.png' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 portfolio-item">
                <a href="#portfolio-modal-5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{% static 'img/portfolio/safe.png' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 portfolio-item">
                <a href="#portfolio-modal-6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{% static 'img/portfolio/submarine.png' %}" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
