{% load staticfiles %}
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Presentes</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            {% for produto in produtos %}
                <div class="col-sm-3 col-xs-4 product-item">
                    <a href="#product-modal-{{ produto.id }}" class="product-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ produto.imagem_full.url }}" class="img-responsive" alt="{{ produto.titulo }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
