{% load staticfiles %}
{% for produto in produtos %}

    <div class="product-modal modal fade" id="product-modal-{{ produto.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ produto.titulo }}</h2>
                            <hr class="star-primary">
                            <img src="{{ produto.imagem_full.url }}" class="img-responsive img-centered" alt="{{ produto.titulo }}">
                            <p>{{ produto.descricao }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

